/* Everything */
html{box-sizing: border-box;
background-color: rgb(19, 24, 32);
overflow-x: hidden;}

body {color: rgb(229, 229, 229);
    margin: 0;}

header {background-color: rgb(57, 160, 219);
display:flex;
justify-content: space-between;
height: 5%;}

nav {width: clamp(18px, 38vw, 500px);}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-weight: 400;
    margin-top: 18px;
}

nav ul a {text-decoration: none;
    color: rgb(229, 229, 229);
    font-size: clamp(22px, 1.2vw, 33.9px);}

nav ul a:hover {transition-duration: 0.5s;
    color: orange;
    cursor: pointer;
    font-size: clamp(22px, 1.5vw, 33.9px);}

#logo {padding-left: 30px;}

#limitlessh2 {font-size: 150%;}

/* Home Page */
#intro {display: flex;
justify-content: center;
margin-top: 38px;
width: 100%;}

#left-info {width: 35%;
            padding-right: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        }

h1 {font-size: clamp(20px, 3.0vw, 800px);
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;}

#intro-p {font-size: clamp(15px, 1.2vw, 80px);
    letter-spacing: 1px;
    line-height: 150%;
    padding-left: 12%;
    padding-right: 12%}

button {
    font-size: 1.4vw;
    padding: 5px 0;
    padding-left: 7%;
    padding-right: 7%;
    background-color: #0092D5;
    border:  none;
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 6px 44px 0px rgb(92, 92, 92);
    margin-top: 10px;
}

button:hover {
    transition: 0.4s;
    background-color: orange;
    font-size: 200%;
}

#buyLink {text-decoration: none;
        color: white;}

#video {width: 35%;
       margin-top: 33.5px;
        margin-right: 5%;}

video {width: 100%;
    height: auto;
object-fit: fill;}

#performance-heading {font-size: 3.5vw;
margin-top: 150px;
text-align: center;}

#performance-image {display: flex;
justify-content: center;
margin-top: 20px;
opacity: 0;}

#curveImg {width: 50vw;}

#stats {display: flex;
justify-content: space-around;
margin-top: 10px;
width: 50vw;
margin: auto;
margin-bottom: 60px;}

#trades, #winRate, #Profit {opacity:0}

.statText {
    font-size: 1.4vw;
    text-align: center;
}

.borderbot {border-bottom: solid 1px white;
            padding-bottom: 5px;
            margin-bottom: 3px;}

.data {margin-top: 3px;}

#curveImg {border: solid orange 3px;}

/* Discord */
#discHead {margin-top: 50px;
        text-align: center;}

#discord {margin-top: 100px;
display: flex;
justify-content: center;}

.discInfo{font-size: 25px;
padding-bottom: 40px;
padding-right: 40px;}

#discImg {height: 280px;
        padding-left: 40px;}

#discButton {margin:auto;
            display: block;
            margin-top: 100px;}

#discLink {text-decoration: none;}

/* About */

#about {display: flex;
        justify-content: center;
        margin-top: 60px;}

#aboutSection { display: flex;
                flex-direction: column;
                justify-content: center;}

#silasDiv {text-align: center;
          margin-top: 15px;
          background-color: rgba(0, 0, 0, 0.2)}
#Silas {
    width: 200px;
    margin-top: 16px;
}

#aboutText {
            width: 700px;
            font-size: 20px;
            text-align: center;
            letter-spacing: 0.5px;
            line-height: 180%;
            font-weight: 500;
            background-color: rgba(0, 0, 0, 0.2);
            padding-left: 26px;
            padding-right: 26px;}

#email {color: orange;}

@media only screen and (min-width: 2200px) {
    nav {width: clamp(18px, 38vw, 650px);}
  }

  @media only screen and (max-width: 1000px) {
    nav {width: clamp(18px, 60vw, 650px);}
  }

  @media only screen and (max-width: 900px) {
    #intro {display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 38px;
        width: 100%;}

    #left-info {padding-right:0;
                width: 60%;}

    #video{width: 60%;
            margin-right: 0;}
     #performance-heading{margin-top: 35px;
                        font-size: 4.3vw;}

     .statText{font-size: 2.2vw;}

     #stats {width: 70vw;}

     #curveImg {width: 60vw;}

     #intro-p {font-size: clamp(9px, 1.2vw, 80px);}

     h1{font-size: clamp(15px, 3.0vw, 800px);}

    
    nav ul a { font-size: clamp(18px, 1.2vw, 33.9px);}
    button {font-size: clamp(11.15px,2.5vw, 200px);}
    }


    @media only screen and (max-width: 600px) {
        nav {width: 60vw;}
        nav ul a {font-size: 14px;}
        nav ul {margin-bottom: 0;
                margin-top: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;}
            
    }


